@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "ReTeeMaster.cshtml";
}

<div class="container-fluid artileWrapper">
    <div class="container">
        <div class="col-xs-12 col-md-12 articleContainer">
            <div class="col-md-1 hidden-xs"></div>
            <div class="col-md-10 col-xs-12 articleBody">
                <h1>@CurrentPage.Name</h1>
                <article class="lead">
                    @Html.Raw(Umbraco.Field(CurrentPage, "bodyText"))
                </article>

                @{
                    if (CurrentPage.Children.Count() > 0)
                    {
                        foreach (var BoardMember in CurrentPage.Children)
                        {
                            <div class="row boardMemberContainer">
                                <div class="col-xs-12 col-md-4 memberPhoto">
                                    @if (Umbraco.Field(BoardMember, "memberPhoto").ToString() != "")
                                    {
                                        <div class="memberPhotoWrapper" style="margin-top: 20px;"><img src="/imagegen.ashx?image=@Umbraco.TypedMedia(Umbraco.Field(BoardMember, "memberPhoto").ToString()).Url&height=200&width=200&constrain=false&crop=resize&compression=75" alt="@Umbraco.Field(BoardMember, "memberTitle"), @Umbraco.Field(BoardMember, "memberName")" /></div>
                                    }
                                </div>
                                <div class="col-xs-12 col-md-8">
                                    <h3>@Umbraco.Field(BoardMember, "memberName"), @Umbraco.Field(BoardMember, "memberTitle")</h3>
                                    <p>@Umbraco.Field(BoardMember, "memberTask")</p>

                                    <p>
                                        Sähköposti: @Umbraco.Field(BoardMember, "memberEmail")<br />
                                        @if (Umbraco.Field(BoardMember, "memberPhone").ToString() != "") {
                                            <text>Puhelin: @Umbraco.Field(BoardMember, "memberPhone")</text>
}
                                    </p>

                                    <p class="bio">@Umbraco.Field(BoardMember, "bio")</p>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
            <div class="col-md-1 hidden-xs">
            </div>
        </div>
    </div>
</div>